// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
body {
	font-family: $ptsans;
}
.snorlax {
	min-height: 500px;
	background: url(/assets/images/snorlax_wp.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}