// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
body {
	font-family: $ptsans;
}
.snorlax {
	min-height: 500px;
	background: url(/assets/images/snorlax_wp.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
blockquote {
	font-size: 16px;
	background-color: #f0f0f0;
	padding: 10px;
	font-style: normal;
}

.highlight pre {
    word-wrap: normal;
}

.highlight pre code {
    white-space: pre;
}

.post-content h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
.post-content { text-align: justify; }

#roman-list, #number-list {
  counter-reset: list;
}

#roman-list, #number-list > li {
    list-style: none;
    position: relative;
}

#roman-list > li:before {
    counter-increment: list;
    content: "(" counter(list, lower-roman) ") ";
    position: absolute;
    left: -1.4em;
}

#number-list > li:before {
    counter-increment: list;
    content: "(" counter(list, decimal) ") ";
    position: absolute;
    left: -1.4em;
}